.icons-table {
    font-size: 1.2rem;
    padding: 0 0.3rem;
}
.icons-table-b {
    font-size: 1.6rem;
    padding: 0 0.3rem;
}
.bg-expense {
    background-color: rgb(255 0 0 / 5%);
    border: 1px solid red;
}
.bg-profit {
    background-color: rgb(0 255 55 / 5%);
    border: 1px solid green;
}
.table-bordered, .text-wrap table, .table-bordered th, .text-wrap table th, .table-bordered td, .text-wrap table td {
    border: none;
}
.month_button {
    padding: 0.4rem 1.6rem;
    width: 14rem;
    background-color: #7d6edd;
    border: none;
    margin: auto;
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
    border-radius: 2rem;
}

.arrow_month_button {
    border: none;
    background-color: transparent;
    margin: auto;
    font-size: 1.6rem;
    color: #7d6edd;
}

.year_name {
    font-weight: 500;
    font-size: 1.3rem;
}
a.text-dark:hover, a.text-dark:focus {
    color: black!important;
}

.counter-registry-value {
    font-weight: 400;
    font-size: 1.5rem;
}
